

body.page-template-default {
    background-color: #454545;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

body.post-template-default {
    background-color: #454545;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.post-template-default article {
    background-color: #c7c7c7;
    width: 90%;
    text-align: center;
}

body.post-template-default article h2 {
    font-size: 2rem;
}

body.page-template-default article {
    background-color: #c7c7c7;
    width: 90%;
}

body.page-template-default article h2 {
    font-size: 2rem;
    text-align: center;
}

.wp-block-latest-posts a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.wp-block-latest-posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 3rem;
}

body.page-template-default article {
    background-color: #c7c7c7;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem;
    box-sizing: border-box
}

body.page-template-default article h2 {
    font-size: 2rem;
    text-align: center;
}

.wp-block-latest-posts a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.wp-block-latest-posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 3rem;
    justify-content: center;
}

.wp-block-latest-posts li {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    background-color: #454545 ;
    color:white;
    max-width: 333px;
    min-width: 333px;
    overflow:hidden;

    
}

body.home.blog{
    background-color: #454545;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #454545;
    
    
}

#main-feed{
    
    width: 90%;
    background-color:#c7c7c7;
}

#pricelist {
    background-color: rgb(252, 248, 248);
    border-radius: 0.5rem;
    text-align: center;
    border-collapse: collapse;
    width: 50%;
    margin: 2rem auto 4rem;

}

#pricelist thead {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
}



#pricelist td {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    padding: 1rem;

}

#pricelist tr {

    border-bottom: 0.1rem solid #454545;

    &:last-child {
        border-bottom: none;
    }

    
}

#fbuilder {
    margin-left: 2rem;
}
#fbuilder .ahbfield_service {
    padding-left: 2rem;
    width: 50%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border:none;
    background-color: rgb(252, 248, 248);
}

#fbuilder input {
    width: 50%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border:none;
    background-color: rgb(252, 248, 248);
}


#fbuilder label
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
}

#fbuilder .captcha {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#fbuilder #fieldname2_1 {
    align-items: left;
    width: auto;
    font-size: 1rem;
}

#fbuilder .pbreak .pbPrevious, #fbuilder .pbreak .pbNext, #fbuilder .pbSubmit  {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border:none;
    background: black !important;
    color: white !important;

}