
body {
    background-color: rgb(194, 194, 194);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

body>header {
    background-color: pink;
    color: inherit;
}

article>.wp-block-query>.wp-block-post-template {
    display: flex;
    gap:1rem;
}

article>.wp-block-query>.wp-block-post-template>a {
    text-decoration: none;
}

.wp-block-post {
    background-color: transparent;
     display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
    border-radius: 10px;
    margin:1rem;
}

article> .wp-block-query> .wp-block-post-template> .wp-block-post> .wp-block-columns {
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 10px;
}

.wp-post-image {

    border-radius: 10px 10px 0px 0px;
}
.wp-block-post-featured-image{
    overflow: hidden;
}

.wp-block-post-featured-image{
     overflow: hidden;
     max-height: 20%;
     }

 .wp-block-post-title {
    padding-left: 1rem;
} 
.wp-block-group{
    padding: 1rem;
}
.wp-block-post-date {
   visibility: hidden;
}